[github]
; Github credentials for authentification against the API
username =
password =

useragent = 'NoSQL Crawler Ext3h/nosql-crawler'

[crawler]
; Terms to search for
term[] = '"import+com.googlecode.objectify"'
term[] = '"import+org.mongodb.morphia"'
term[] = 'language:java "@PostLoad"'

; Auxiliary terms to be used for tautologies
auxiliary[] = '"void"'
auxiliary[] = '"name"'
auxiliary[] = '"Entity"'
auxiliary[] = '"ID"'
auxiliary[] = '"null"'
auxiliary[] = '"static"'
auxiliary[] = '"extends"'
auxiliary[] = '"List"'
auxiliary[] = '"util"'

[download]
; Maximum repository size in bytes
max_size = 1000000000
; Timeout in seconds for checkout
timeout = 30
tmp_dir = /tmp/repos
